html{
  background-color: rgb(24, 24, 24);
}

h1{
  font-size: 20px;
  font-family: "berthold-baskerville-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.2em;
    white-space: nowrap;
    z-index: 2;
  }

  .title{
    position: absolute;
    color: rgb(247, 247, 247);
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
  }

  canvas{
    z-index: 1;
  }

.navigation{
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 2%;
  margin-left: 5%;
  margin-bottom: 20px;}

.button{
  border-color: transparent;
  color: rgb(28, 28, 28);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 100;
  margin-right: 36vw;
  font-size: 24px;
}

.button:hover{
  color: rgb(255, 255, 255);
  background-color: transparent;
  border-color: transparent;
}

.btn{
  border-color: transparent;
  color: rgb(28, 28, 28);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 100;
  font-size: 24px;
}

.btn:hover{
  color: rgb(255, 255, 255);
  background-color: transparent;
  border-color: transparent;
}